body {
	background-image: url("bg-img.jpg");
	background-repeat: repeat;
	overflow-x: hidden;
}

a {
	text-decoration: none;
		
}

.thin-line {
	height: 5px;
	width: 110%;
	margin-left: -5%;
	background-color: #FFF;
	margin-top: 20px;
}

.thick-line {
	height: 50px;
	width: 110%;
	margin-left: -5%;
	background-color: #FFF;
	margin-top: 5px;
}

.thin-line2 {
	height: 5px;
	width: 110%;
	margin-left: -5%;
	background-color: #FFF;
	margin-top: 5px;
}

.title-text {
	font-size: 60px;
	font-family: 'Ubuntu', sans-serif;
	text-shadow: 2px 2px #808080;	
	color: #99CCFF;
	position: fixed;
}

.post {
	font-family: 'Ubuntu', sans-serif;
	background-color: #FFF;
	width: 40%;
	height: 220px;
	border-radius: 5px;
	border-style: solid;
	border-color: grey;
	overflow-y: scroll;
	overflow-x: hidden;
	text-align: center;
}

.main-info {
	width: 40%;
	margin-left: 30%;
	margin-top: 50px;
	position: fixed;
}

.main-info-text {
	font-size: 15px;
	width: 90%;
	margin-left: 5%;
}

.projects {
	font-size: 40px;
	display: none;
	margin-left: 55%;
	margin-top: 50px;
	position: fixed;
}

.ait {
	font-size: 40px;
	display: none;
	margin-top: 300px;
	margin-left: 55%;
	position: fixed;
}

.resume {
	font-size: 40px;
	display: none;
	margin-left: 2.5%;
	margin-top: 300px;
	position: fixed;
	
}

.gray-line {
	width: 80%;
	border-style: dashed;
	border-radius: .3px;
	margin-left: 10%;
	border-width: 2px;
	border-color: #B2B2B2;
}

.inside-ait {
	width: 40%;
	margin-top: 50px;
	margin-left: 10%;
	position: relative;
}

.inside-ait-right {
	width: 40%;
	margin-left: 50%;
	margin-top: -120px;
}

button {
	border-color: #000;
	border-radius: 2em;
	background-color: #FFF;
	border-color: #99CCFF;
}

::-webkit-scrollbar {
    width: 1px;
}

#second {
	display: none;
}

#third {
	display: none;
}

.ait-info {
	display: none;
	width: 70%;
	height: 300px;
	margin-left: 15%;
	margin-top: 125px;
	background-color: #FFF;
	border-style: solid;
	border-color: grey;
	border-radius: 5px;
}

.ait-text {
	font-size: 15px;
	font-color: grey;
	font-family: 'Ubuntu', sans-serif;
	width: 90%;
	margin-left: 5%;
	padding-top: 50px;
}

.nav {
	width: 20%;
	height: 30px;
	margin-top: 40px;
	background-color: #FFF;
	text-align: center;
	padding-top: 10px;
	font-family: 'Ubuntu', sans-serif;
	border-radius: 5px;
}

.resume-nav {
	position: absolute;
}

.projects-nav {
	margin-left: 26.5%;
	position: fixed;
}

.ait-nav {
	margin-left: 52.5%;
	position: fixed;
}

.resume-image {
	width: 80%;
	height: 65vh;
	overflow-y: scroll;
	border-color: #FFF;
	margin-left: 10%;
	margin-top: 100px;
}

img {
	max-width: 100%;
}

.download-button {
	margin-left: 78.5%;
	position: fixed;
	font-style: italic;
	font-weight: bold;
}