* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: white;
}

.intro {
	background-image: url("bg.jpg");
	opacity: 1;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100vh;
	position: fixed;
}

.text {
	color: white;
	margin-left: 60%;
	margin-top: 40vh;
	font-family: 'Quicksand';
	font-weight: bold;
	position: absolute;
}

.title {
	font-size: 40px;
	text-shadow: 3px 3px 2px #000;
}

.sub-title {
	font-size: 20px;
	text-shadow: 2px 2px #3D3D3D;
}

.contact {
	width: 25%;
	height: 45vh;
	margin-left: 15%;
	margin-top: 25vh;
	padding-left: 30px;
	padding-top: 30px;
	padding-right: 30px;
	color: white;
	font-family: "Abel";
	background-color: rgba(0, 0, 0, 0.5);
	opacity: .8;
	position: absolute;
	border-radius: 5px;
}

.nav {
	color: white;
	font-family: "Abel";
	font-size: 20px;
	padding-top: 10px;
	width: 100%;
	height: 30px;
	z-index: 1;
}

#about-me {
	margin-left: 5%;
	width: 10%;
	position: absolute;
}

#projects {
	margin-left: 25%;
	width: 10%;
	position: absolute;
}

#resume {
	margin-left: 45%;
	width: 10%;
	position: absolute;
}

#ait {
	margin-left: 65%;
	width: 10%;
	position: absolute;
}

#home {
	margin-left: 85%;
	width: 10%;
	position: absolute;
}

.post {
	width: 90%;
	margin-left: 5%;
	background-color: white;
	opacity: .8;
	height: 80vh;
	margin-top: 10vh;
	border-radius: 5px;
	display: none;
}

.resume-image {
	height: 80vh;
	overflow-y: scroll;
	border-color: #FFF;
	margin-left: 10%;
	margin-top: 100px;
}

.ait { }

.ait-text {
	font-family: "Abel";
	font-weight: bold;
	text-align: center;
	color: #465f74;
	width: 80%;
	margin-left: 10%;
}

img {
	max-width: 100%;
	opacity: 1;
}

::-webkit-scrollbar {
      width: 10px;
      background-color: #708090;
      border-radius: 5px;
}

::-webkit-scrollbar-thumb {
      background-color: #0976af; 
      border-radius: 5px;
}

div.ait-text a {
	color: #0f75bd;
}